<div class="h-full p-3">
  <div class="flex h-full items-center justify-center">
    <div
      id="board-container"
      class="relative aspect-square w-full max-w-[800px] overflow-hidden border"
    >
      @for (element of boardElementsService.elements(); track element.id) {
        <app-board-element
          [id]="element.id"
          [options]="element.options"
          [style.outline]="element.isActive ? 'auto' : 'none'"
          style.left="{{ element.options.xPosition }}px"
          style.bottom="{{ element.options.yPosition }}px"
          class="absolute inline-block transition-all"
        >
          <ng-container *ngComponentOutlet="element.component" />
        </app-board-element>
      }
    </div>
  </div>
</div>
