<div
  #board
  class="relative m-auto border"
  [style.aspect-ratio]="aspectRatio()"
  [style]="boardStyle()"
>
  @if (boardService.board(); as board) {
    <span class="absolute -left-6 top-1/2 -translate-y-1/2 -rotate-90">
      {{ board.realHeight }}m
    </span>

    @for (element of boardElementsService.elements(); track element.id) {
      <app-board-element
        [boardElement]="element"
        [isActive]="element.isActive"
        [style]="getBoardElementPosition(element.options, board)"
        class="absolute inline-block transition-all"
      />
    }

    <span class="absolute -bottom-6 left-1/2 -translate-x-1/2">
      {{ board.realWidth }}m
    </span>
  }
</div>
