<div
  #boardContainer
  class="h-full max-h-[calc(100vh-1.5rem)] overflow-hidden pb-6 pl-6"
>
  <div
    #board
    class="relative m-auto border"
    [style.aspect-ratio]="boardService.aspectRatio()"
    [style]="boardStyle()"
  >
    <span class="absolute -left-6 top-1/2 -translate-y-1/2 -rotate-90">
      {{ boardService.size().height }}m
    </span>

    @for (element of boardElementsService.elements(); track element.id) {
      <app-board-element
        [id]="element.id"
        [options]="element.options"
        [style.outline]="element.isActive ? 'auto' : 'none'"
        [style]="getElementStyle(element.options)"
        class="absolute inline-block transition-all"
      >
        @if (dynamicComponents()[element.type]; as component) {
          <ng-container *ngComponentOutlet="component" />
        }
      </app-board-element>
    }

    <span class="absolute -bottom-6 left-1/2 -translate-x-1/2">
      {{ boardService.size().width }}m
    </span>
  </div>
</div>
