<aside class="h-full">
  <mat-toolbar
    color="primary"
    class="relative !h-full gap-y-2 rounded-md pb-40 shadow-sm shadow-black"
  >
    @if (activeElement(); as activeElement) {
      <ng-container>
        <mat-toolbar-row>
          <h2>{{ activeElement.type }}</h2>
        </mat-toolbar-row>

        <ng-container
          *ngTemplateOutlet="
            inputRow;
            context: {
              $implicit: {
                label: 'Odległość od lewej krawędzi obszaru',
                name: 'xPosition',
                value: activeElement.options.xPosition,
                max: boardService.board()?.realWidth
              }
            }
          "
        />

        <ng-container
          *ngTemplateOutlet="
            inputRow;
            context: {
              $implicit: {
                label: 'Odległość od dolnej krawędzi obszaru',
                name: 'yPosition',
                value: activeElement.options.yPosition,
                max: boardService.board()?.realHeight
              }
            }
          "
        />

        <ng-container
          *ngTemplateOutlet="
            inputRow;
            context: {
              $implicit: {
                label: 'Szerokość',
                name: 'width',
                value: activeElement.options.width,
                max: boardService.board()?.realWidth
              }
            }
          "
        />

        <ng-container
          *ngTemplateOutlet="
            inputRow;
            context: {
              $implicit: {
                label: 'Wysokość',
                name: 'height',
                value: activeElement.options.height,
                max: boardService.board()?.realHeight
              }
            }
          "
        />

        <ng-container
          *ngTemplateOutlet="
            inputRow;
            context: {
              $implicit: {
                label: 'Warstwa',
                name: 'layer',
                value: activeElement.options.layer,
                max: 10,
                step: '1'
              }
            }
          "
        />
      </ng-container>
    }

    <form
      class="absolute bottom-0 left-0 w-full p-4"
      (submit)="onBoardSizeFormSubmit($event)"
    >
      <fieldset class="grid grid-cols-2 gap-x-2">
        <legend class="mb-1 text-sm">Wymiary działki:</legend>

        <mat-form-field>
          <mat-label>Szerorkość</mat-label>
          <input
            matInput
            type="number"
            min="0"
            name="realWidth"
            step="0.1"
            [value]="boardService.board()?.realWidth ?? 0"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Długość</mat-label>
          <input
            matInput
            type="number"
            min="0"
            name="realHeight"
            step="0.1"
            [value]="boardService.board()?.realHeight ?? 0"
          />
        </mat-form-field>
      </fieldset>

      <button mat-flat-button color="accent" class="ml-auto w-full">
        Zapisz
      </button>
    </form>
  </mat-toolbar>
</aside>

<ng-template #inputRow let-input>
  <mat-toolbar-row class="!h-auto">
    <mat-form-field class="w-full">
      <mat-label>{{ input.label }}</mat-label>

      <input
        matInput
        type="number"
        min="0"
        [name]="input.name"
        [value]="input.value"
        [max]="input.max"
        [step]="input.step ?? '0.1'"
        (change)="onChange($event)"
      />

      <mat-hint align="start">{{ input.hint ?? "W metrach" }}</mat-hint>
    </mat-form-field>
  </mat-toolbar-row>
</ng-template>
